## Importação de bibliotecas

In [1]:
import pandas as pd
import numpy as np
import pickle

## Carga de dados

In [2]:
df = pd.read_excel('./dados/dados.xlsx')
df

,codigo,nome,cidade,estado,população,popAte9,popDe10a14,popDe15a19,popDe20a24,popDe25a34,...,domiciliosA2,domiciliosB1,domiciliosB2,domiciliosC1,domiciliosC2,domiciliosD,domiciliosE,rendaMedia,faturamento,potencial
0,3304557060,Abolição,Rio de Janeiro,RJ,11676,1027,483,688,800,1675,...,145,715,1242,1093,758,92,304,2501,932515.0,Médio
1,3304557138,Acari,Rio de Janeiro,RJ,27564,5131,2188,2697,2630,4810,...,0,82,506,2040,2490,827,2506,931,588833.0,Baixo
2,3304557057,Água Santa,Rio de Janeiro,RJ,9003,883,399,597,762,1755,...,96,404,652,644,522,77,254,2391,874200.0,Baixo
3,3304557031,Alto Da Boa Vista,Rio de Janeiro,RJ,9606,1072,538,660,685,1317,...,178,393,517,945,584,137,286,3727,912226.0,Médio
4,3304557125,Anchieta,Rio de Janeiro,RJ,57222,7677,3774,4892,4600,8660,...,0,1089,2821,5110,5422,1073,3261,1380,553020.0,Médio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,355030213,Vila Sônia,São Paulo,SP,34061,2908,1462,2253,2076,4579,...,1089,2866,2219,2216,1227,306,1098,5285,NaN,NaN
452,355030207,Vila Suzana,São Paulo,SP,35403,4127,1890,2678,2433,5855,...,1522,2458,1186,1166,918,209,3840,7418,NaN,NaN
453,355030162,Vila Terezinha,São Paulo,SP,122359,18304,9304,13258,9965,19248,...,0,1758,4517,9450,11473,3218,7540,1252,NaN,NaN
454,355030157,Vila Zatt,São Paulo,SP,125864,14670,7305,11225,9338,18841,...,872,5093,8063,10012,8082,2856,6853,1936,NaN,NaN
455,355030164,Vista Alegre,São Paulo,SP,106,23,7,15,11,15,...,0,0,6,9,8,2,4,1288,NaN,NaN

### Separação de São Paulo

In [3]:
df_sp = df.query("cidade == 'São Paulo'")
df_sp

,codigo,nome,cidade,estado,população,popAte9,popDe10a14,popDe15a19,popDe20a24,popDe25a34,...,domiciliosA2,domiciliosB1,domiciliosB2,domiciliosC1,domiciliosC2,domiciliosD,domiciliosE,rendaMedia,faturamento,potencial
160,355030251,A. E. Carvalho,São Paulo,SP,94034,12668,6853,9836,7487,14535,...,253,2197,4368,6681,7011,2247,5670,1501,NaN,NaN
161,35503020,Aclimação,São Paulo,SP,32791,2297,1017,2096,2197,5341,...,1734,3704,2351,1946,827,291,1617,5920,NaN,NaN
162,355030285,Adventista,São Paulo,SP,104193,15070,7343,10631,8657,17749,...,0,1423,4875,8595,10082,3111,5776,1284,NaN,NaN
163,35503088,Água Branca,São Paulo,SP,12721,953,343,627,819,2142,...,667,1558,1032,915,361,84,404,6278,NaN,NaN
164,35503066,Água Funda,São Paulo,SP,48417,5078,2396,4018,3571,7388,...,303,1794,2986,4489,2836,1104,2553,1905,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,355030213,Vila Sônia,São Paulo,SP,34061,2908,1462,2253,2076,4579,...,1089,2866,2219,2216,1227,306,1098,5285,NaN,NaN
452,355030207,Vila Suzana,São Paulo,SP,35403,4127,1890,2678,2433,5855,...,1522,2458,1186,1166,918,209,3840,7418,NaN,NaN
453,355030162,Vila Terezinha,São Paulo,SP,122359,18304,9304,13258,9965,19248,...,0,1758,4517,9450,11473,3218,7540,1252,NaN,NaN
454,355030157,Vila Zatt,São Paulo,SP,125864,14670,7305,11225,9338,18841,...,872,5093,8063,10012,8082,2856,6853,1936,NaN,NaN
455,355030164,Vista Alegre,São Paulo,SP,106,23,7,15,11,15,...,0,0,6,9,8,2,4,1288,NaN,NaN

In [4]:
df_sp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296 entries, 160 to 455
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   codigo        296 non-null    int64
 1   nome          296 non-null    object
 2   cidade        296 non-null    object
 3   estado        296 non-null    object
 4   população     296 non-null    int64
 5   popAte9       296 non-null    int64
 6   popDe10a14    296 non-null    int64
 7   popDe15a19    296 non-null    int64
 8   popDe20a24    296 non-null    int64
 9   popDe25a34    296 non-null    int64
 10  popDe35a49    296 non-null    int64
 11  popDe50a59    296 non-null    int64
 12  popMaisDe60   296 non-null    int64
 13  domiciliosA1  296 non-null    int64
 14  domiciliosA2  296 non-null    int64
 15  domiciliosB1  296 non-null    int64
 16  domiciliosB2  296 non-null    int64
 17  domiciliosC1  296 non-null    int64
 18  domiciliosC2  296 non-null    int64
 19  domiciliosD   296 non-null    int64
 20  domiciliosE   296 non-null    int64
 21  rendaMedia    296 non-null    object
 22  faturamento   0 non-null      float64
 23  potencial     0 non-null      object
dtypes: float64(1), int64(18), object(5)
memory usage: 57.8+ KB

## Tratamento de dados

In [4]:
df_sp.query("rendaMedia == '-'")

,codigo,nome,cidade,estado,população,popAte9,popDe10a14,popDe15a19,popDe20a24,popDe25a34,...,domiciliosA2,domiciliosB1,domiciliosB2,domiciliosC1,domiciliosC2,domiciliosD,domiciliosE,rendaMedia,faturamento,potencial
232,355030170,Eta Guaraú,São Paulo,SP,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,NaN,NaN
361,355030227,Pico Do Jaraguá,São Paulo,SP,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,NaN,NaN
376,355030167,Reserva Da Cantareira,São Paulo,SP,0,0,0,0,0,0,...,0,0,0,0,0,0,0,-,NaN,NaN

In [5]:
df_sp.drop(df_sp.query("rendaMedia == '-'").index, inplace=True)

/tmp/ipykernel_18958/2707655110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp.drop(df_sp.query("rendaMedia == '-'").index, inplace=True)

In [6]:
df_sp

,codigo,nome,cidade,estado,população,popAte9,popDe10a14,popDe15a19,popDe20a24,popDe25a34,...,domiciliosA2,domiciliosB1,domiciliosB2,domiciliosC1,domiciliosC2,domiciliosD,domiciliosE,rendaMedia,faturamento,potencial
160,355030251,A. E. Carvalho,São Paulo,SP,94034,12668,6853,9836,7487,14535,...,253,2197,4368,6681,7011,2247,5670,1501,NaN,NaN
161,35503020,Aclimação,São Paulo,SP,32791,2297,1017,2096,2197,5341,...,1734,3704,2351,1946,827,291,1617,5920,NaN,NaN
162,355030285,Adventista,São Paulo,SP,104193,15070,7343,10631,8657,17749,...,0,1423,4875,8595,10082,3111,5776,1284,NaN,NaN
163,35503088,Água Branca,São Paulo,SP,12721,953,343,627,819,2142,...,667,1558,1032,915,361,84,404,6278,NaN,NaN
164,35503066,Água Funda,São Paulo,SP,48417,5078,2396,4018,3571,7388,...,303,1794,2986,4489,2836,1104,2553,1905,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,355030213,Vila Sônia,São Paulo,SP,34061,2908,1462,2253,2076,4579,...,1089,2866,2219,2216,1227,306,1098,5285,NaN,NaN
452,355030207,Vila Suzana,São Paulo,SP,35403,4127,1890,2678,2433,5855,...,1522,2458,1186,1166,918,209,3840,7418,NaN,NaN
453,355030162,Vila Terezinha,São Paulo,SP,122359,18304,9304,13258,9965,19248,...,0,1758,4517,9450,11473,3218,7540,1252,NaN,NaN
454,355030157,Vila Zatt,São Paulo,SP,125864,14670,7305,11225,9338,18841,...,872,5093,8063,10012,8082,2856,6853,1936,NaN,NaN
455,355030164,Vista Alegre,São Paulo,SP,106,23,7,15,11,15,...,0,0,6,9,8,2,4,1288,NaN,NaN

## Carga dos modelos

In [7]:
model_reg, model_clf = pickle.load(open("./dados/models.pkl", 'rb'))

## Predição

In [8]:
drop_columns = ["faturamento", "potencial", "codigo", "nome", "cidade", "estado"]
faturamento_pred = model_reg.predict(df_sp.drop(columns=drop_columns))
potencial_pred = model_clf.predict(df_sp.drop(columns=drop_columns))

In [9]:
df_sp['faturamento'] = faturamento_pred
df_sp['potencial'] = potencial_pred
df_sp

/tmp/ipykernel_18958/98256012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp['faturamento'] = faturamento_pred
/tmp/ipykernel_18958/98256012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp['potencial'] = potencial_pred

,codigo,nome,cidade,estado,população,popAte9,popDe10a14,popDe15a19,popDe20a24,popDe25a34,...,domiciliosA2,domiciliosB1,domiciliosB2,domiciliosC1,domiciliosC2,domiciliosD,domiciliosE,rendaMedia,faturamento,potencial
160,355030251,A. E. Carvalho,São Paulo,SP,94034,12668,6853,9836,7487,14535,...,253,2197,4368,6681,7011,2247,5670,1501,1.746073e+05,2
161,35503020,Aclimação,São Paulo,SP,32791,2297,1017,2096,2197,5341,...,1734,3704,2351,1946,827,291,1617,5920,1.467713e+06,2
162,355030285,Adventista,São Paulo,SP,104193,15070,7343,10631,8657,17749,...,0,1423,4875,8595,10082,3111,5776,1284,1.253857e+05,1
163,35503088,Água Branca,São Paulo,SP,12721,953,343,627,819,2142,...,667,1558,1032,915,361,84,404,6278,1.266143e+06,2
164,35503066,Água Funda,São Paulo,SP,48417,5078,2396,4018,3571,7388,...,303,1794,2986,4489,2836,1104,2553,1905,8.172950e+05,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,355030213,Vila Sônia,São Paulo,SP,34061,2908,1462,2253,2076,4579,...,1089,2866,2219,2216,1227,306,1098,5285,1.400296e+06,2
452,355030207,Vila Suzana,São Paulo,SP,35403,4127,1890,2678,2433,5855,...,1522,2458,1186,1166,918,209,3840,7418,1.492280e+06,2
453,355030162,Vila Terezinha,São Paulo,SP,122359,18304,9304,13258,9965,19248,...,0,1758,4517,9450,11473,3218,7540,1252,8.833971e+04,1
454,355030157,Vila Zatt,São Paulo,SP,125864,14670,7305,11225,9338,18841,...,872,5093,8063,10012,8082,2856,6853,1936,3.069750e+05,2
455,355030164,Vista Alegre,São Paulo,SP,106,23,7,15,11,15,...,0,0,6,9,8,2,4,1288,8.366158e+05,0

In [10]:
df_sp.to_csv('./dados/final.csv', index=False)